*{
    padding: 0%;
    margin: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;900&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
body{
    background-color: black;
    color: #fff;
}
.darklightbtn{
    /* background-color: #6c6cfe; */
    padding: 10px;
    align-items: center;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.dark-light{

    float: right;
    padding: 20px;
  
}
/* header start  */
.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}
.header .btn{
    background-color: #6c6cfe;
    padding: 12px;
    color: #fff;
    border-radius: 20px;
    width: 150px;
    font-size: 14px;
    text-align: center;
}
/* header end  */

/* section one start  */
.sec-one{
    display: flex;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    gap: 5%;

}
.sec-one-back{
    /* background-color: #f3f3ff; */
    padding: 20px;
}
.sec-one-left{
    width: 40%;
}
@media screen and (max-width : 1200px) {
   
    .sec-one-left{
        width: 100%;
    }
    .sec-one-right{
        margin-top: 2%;
    width: 100%;
    }
   .sec-one #res img{
        width: 500px;
        height: auto;
        display: block;
        margin: auto;
    }
}
@media screen and (max-width:800px) {
    .sec-one #res img{
        width: 400px;
        height: auto;
        display: block;
        margin: auto;
    }
}
@media screen and (max-width:600px) {
    .sec-one #res img{
        width: 300px;
        height: auto;
        display: block;
        margin: auto;
    }
}
@media screen and (max-width:500px) {
    .sec-one #res img{
        display: block;
        margin: auto;
        width: 200px;
        height: auto;
    }
}
.sec-one-left p{
    margin-top: 20px;
}
.sec-one-right{
    width: 50%;
}
.sec-one-right img{
    width:400px ;
    height: 400px;
}
.sec-one .btn{
    background-color: #6c6cfe;
    padding: 12px;
    color: #fff;
    border-radius: 20px;
    width: 150px;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
/* section one end */


/* third section start  */
.third-sec{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:5% auto;
}
.third-sec .card-body{
    width: 250px;
}
.card-icon img{
    display: block;
    margin: auto;
}
.third-sec .card-content{
    text-align: center;
}
/* third section end  */

/* fourth section start  */
.sec-fourth{
    display: flex;
    align-items: center;
    gap: 2%;
    justify-content: center;
    /* background-color: #f3f3ff; */
    padding:30px;
    margin: 10px;
    flex-wrap: wrap;
    
}
.fourth-right{
    width: 50%;
   
}
.fourth-right h5{
    margin-top:2%;
    font-style: normal;
}

.fourth-right p{
    font-style: italic;
    font-size: 35px;

}
.fourth-left img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
}
@media screen and (max-width:1100px) {
    .fourth-left , .fourth-right{
        width: 100%;
    }
    .fourth-left img{
        width: 150px;
        height: 150px;
        display: block;
        margin: auto;
        border-radius: 50%;
      
    }

}
/* fourth section end  */

/* last section start  */
.last-section{
    /* background-color: #575891; */
    padding: 40px;
    color: #fff;
    align-items: center;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.last-section .btn{
    background-color: #6c6cfe;
    padding: 12px;
    color: #fff;
    border-radius: 20px;
    width: 150px;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 1% auto;
}
/* last section end  */

